.fade-out {
  will-change: opacity;
  animation: fadeOut 2s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.content-container{
    border-style: groove;
}